{% extends "core/layout.html" %}

{% block titulo %} Informaciones útiles {% endblock %}

{% block contenido %}
<div class="container py-4">
    <!-- 1. Política de Privacidad de Datos -->
    <section class="mb-4">
        <h2 id="privacidad">Uso del sitio y Política de Privacidad de Datos</h2>
        <p>
            En este sitio valoramos mucho tu privacidad y nos comprometemos a proteger tus datos personales. Toda la
            información que nos proporcionas se utiliza únicamente para mejorar tu experiencia, y nunca será compartida
            con terceros sin tu consentimiento explícito.
        </p>
        <p>
            Recuerda que los anuncios publicados son visibles para todos, por lo que te recomendamos no incluir
            información personal, como tu número de teléfono, al redactarlos.
        </p>
        <p>
            Si estás interesado en algún anuncio, puedes dejar un mensaje. Por defecto, el propietario podrá ver tu
            dirección de correo electrónico para contactarte directamente.
            Y por supuesto, si lo deseas, también puedes dejar tu número de teléfono: tus mensajes solo serán visibles
            para el propietario del anuncio.
        </p>
    </section>

    <!-- 2. Tabla de Correspondencia de Tallas -->
    <section class="mb-4">
        <h2  id="tallas">Correspondencia de Tallas</h2>
        <div class="table-responsive col-md-6 text-center">

            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Talla</th>
                    <th scope="col">Estatura (cm)</th>
                    <th scope="col">Edad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>00</td>
                    <td>74</td>
                    <td>6/9 meses</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>78</td>
                    <td>9/12 meses</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>82</td>
                    <td>12/18 meses</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>98</td>
                    <td>2/3 años</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>108</td>
                    <td>4/5 años</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>118</td>
                    <td>6/7 años</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>128</td>
                    <td>8 años</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>140</td>
                    <td>10 años</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>152</td>
                    <td>12 años</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>164</td>
                    <td>14 años</td>
                </tr>
                <tr>
                    <td>16 / S / 2A</td>
                    <td>170</td>
                    <td>Adolescente S</td>
                </tr>
                <tr>
                    <td>18 / M / 3A</td>
                    <td>178</td>
                    <td>Adolescente M</td>
                </tr>
                <tr>
                    <td>20 / L / 4A</td>
                    <td>184</td>
                    <td>Adolescente L</td>
                </tr>
                
                <tr>
                    <td>22 / XL / 5A</td>
                    <td>188</td>
                    <td>Adolescente XL</td>
                </tr>
                <tr>
                    <td>24 / XXL / 6A</td>
                    <td>192</td>
                    <td>Adolescente XXL</td>
                </tr>
                
            </tbody>
        </table>
    </div>
    </section>
    
    <!-- 3. Ventajas de Fijar un Precio -->
    <section class="mb-4">
        <h2  id="anuncio">¿Como redactar un buen anuncio?</h2>
        
        <p>
            Vender ropa de segunda mano puede ser una forma genial de darle una nueva vida a tus prendas. Es importante
            crear un anuncio claro, honesto y atractivo. Aquí van algunos consejos:
        <ul>
            <li>Tómate el tiempo de hacer buenas fotos: utiliza luz natural y muestra la prenda.</li>
            <li>Describe con detalle: la talla y el tipo de prenda son obligatorias, pero menciona igualemente el tipo
                de tejido y cualquier detalle relevante.</li>
            <li>Indica el estado real :
                <ul>
                    <li>Nuevo : nunca utilisado</li>
                    <li>Como nuevo : lavado una veces o dos</li>
                    <li>Primera mano : utilisado un año entero</li>
                    <li>Secunda mano : utilisado dos años enteros, o prenda de un otro niño antes del tuyo</li>
                </ul>
            </li>
            <li>Sé sincero: si hay alguna marca o desperfecto, dilo (Ejemplo : nombres brodados en los babis). Eso
                genera confianza y evita malentendidos.</li>
            <li>Cuida la presentación: escribe de forma ordenada, sin faltas, y usa un tono amable.</li>
        </ul>
        </p>

        <h2>¿Porqué fijar un precio?</h2>

        <p>

            Fijar un precio para ropa de secunda mano no es obligado, pero es completamente justificado en caso de
            proponer prenda en estado perfecto. Recordemos que en el mercado de segunda mano se trata de dar segundas
            oportunidades,
            ahorrar recursos económicos y medio-ambientales… y ayudar a que más personas encuentren lo que necesitan :

        <ul>
            <li>Como vendedor, ofrecer un precio razonable demuestra que valoras la prenda, pero también eres consciente
                de su uso previo. Te responzabiliza, y es una forma de ser honesto y facilitar el proceso.</li>
            <li>Como comprador, encontrar precios sensatos genera confianza y fomenta la compra responsable. No hace
                falta adquirir artículos si no les necesitas de verdad.</li>
            <li>Entre ambas partes, un precio justo crea una relación de respeto y transparencia. Eso es lo que
                convierte una venta puntual en una experiencia positiva para todos.</li>
        </ul>

        </p>

        <p>
            Aquí está una pequeña guía indicativa:

        <ul>
            <li>Para ropa nueva, se suele ofrecer a la mitad del precio en tienda, 8, 10 o 15 euros según la prenda.</li>
            <li>Para ropa casi nueva o de primera mano, 5 euros por artículo es algo fácil de recordar y de manejar.</li>
            <li>Para lotes, propones descuentos substanciales basándote en el precio de la primaera mano.</li>
        </ul>
        </p>
    </section>

    <!-- 4. Contacto y Compartir -->
    <section class="mb-4">
        <h2  id="contacto">Contacto</h2>
        <p>
            ¿Tienes dudas? Escríbenos a:
            <a href="mailto:dragosoftcanarias@gmail.com">dragosoftcanarias@gmail.com</a>
        </p>
    </section>
</div>


{% endblock %}