{% extends "core/layout.html" %}

{% block titulo %} Informaciones útiles {% endblock %}

{% block contenido %}
<style>p,li { text-align: justify;}</style>
<div class="container">
    <!-- 1. Política de Privacidad de Datos -->
    <section class="mb-4">
        <div class="alert alert-info" role="alert">
        <p class="text-center"><b>¡¡IMPORTANTE!!</b></p>
        Por el momento, la plataforma no envia notificaciones cuando alguién está interesado en tus anuncios y deja un mensaje.<br>
        => Hay que visitarnos de vez en cuando y chekear tus anuncios ;-)
        </div>
        <h2 id="privacidad">Normas de Uso y Política de Privacidad de Datos</h2>
        <p>
            En esta plataforma valoramos mucho tu privacidad y nos comprometemos a proteger tus datos personales. Toda la
            información que nos proporcionas se utiliza únicamente para mejorar tu experiencia y nunca será compartida
            con terceros sin tu consentimiento explícito.
        </p>
        <p>
            Recuerda que tus <b>Anuncios</b> son visibles para todos, por lo que te recomendamos <b>no incluir
            información personal</b>, como tu número de teléfono, al redactarlos.<br>
            Puedes ver todos tus anuncios dentro de la pestaña <b>"Mis anuncios"</b>.<br>
            Los anuncios son ordenados para que veas en primero los últimos que han recibido mensajes.
        </p>
        <p>
            Si estás interesado en algún anuncio, puedes dejar un <b>Mensaje</b>. Por defecto, el propietario podrá ver tu
            dirección de correo electrónico para contactarte directamente.
            Y por supuesto, si lo deseas, también puedes dejar en este mensaje tu número de teléfono: tus mensajes solo serán visibles
            para el propietario del anuncio.<br>
            A dejar un mensaje, el anuncio se copia en tu pestaña <b>"Favoritos"</b>.
        </p>

    </section>

    <!-- 2. Tabla de Correspondencia de Tallas -->
    <section class="mb-4">
        <h2  id="tallas">Correspondencia de Tallas</h2>
        <div class="table-responsive col-md-6 text-center">

            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Talla</th>
                    <th scope="col">Estatura (cm)</th>
                    <th scope="col">Edad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>00</td>
                    <td>74</td>
                    <td>6/9 meses</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>78</td>
                    <td>9/12 meses</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>82</td>
                    <td>12/18 meses</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>98</td>
                    <td>2/3 años</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>108</td>
                    <td>4/5 años</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>118</td>
                    <td>6/7 años</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>128</td>
                    <td>8 años</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>140</td>
                    <td>10 años</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>152</td>
                    <td>12 años</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>164</td>
                    <td>14 años</td>
                </tr>
                <tr>
                    <td>16 / S / 2A</td>
                    <td>170</td>
                    <td>Adolescente S</td>
                </tr>
                <tr>
                    <td>18 / M / 3A</td>
                    <td>178</td>
                    <td>Adolescente M</td>
                </tr>
                <tr>
                    <td>20 / L / 4A</td>
                    <td>184</td>
                    <td>Adolescente L</td>
                </tr>
                
                <tr>
                    <td>22 / XL / 5A</td>
                    <td>188</td>
                    <td>Adolescente XL</td>
                </tr>
                <tr>
                    <td>24 / XXL / 6A</td>
                    <td>192</td>
                    <td>Adolescente XXL</td>
                </tr>
                
            </tbody>
        </table>
    </div>
    </section>
    
    <!-- 3. Ventajas de Fijar un Precio -->
    <section class="mb-4 text-justify">
        <h2  id="anuncio">¿Que hago si un anuncio me interesa?</h2>
        
        <p>
            Debes estar registrado para enviar un mensaje al propietario. Él puede responderte utilizando tu correo de usuario de la plataforma.
            Pero si lo deseas, puedes dejar tu teléfono, porque el propietario del anuncio es el único que puede ver tus mensajes.
        </p>
        <p>
            A dejar un mensaje, el anuncio se copia en tu pestaña <b>"Favoritos"</b>.<br>
            El propietario te contactará por correo electrónico o por teléfono o WhatsApp si dejaste tu número.
        </p>

        <h2  id="anuncio">¿Como redactar un buen anuncio?</h2>
        
        <p>
            Vender ropa de segunda mano puede ser una forma genial de darle una nueva vida a tus prendas. Es importante
            crear un anuncio claro, honesto y atractivo. Aquí van algunos consejos:
        <ul>
            <li>Tómate el tiempo de hacer buenas fotos: utiliza luz natural y muestra la prenda.</li>
            <li>Agrupa las prendas en tipo y talla. También tienes la posibilidad de agrupar tus prendas en un lote. En este caso, registra tu anuncio como <b>Multi</b>.</li>
            <li>Describe con detalle: <b>la talla y el tipo de prenda son obligatorias</b>, pero menciona igualemente el tipo
                de tejido y cualquier detalle relevante.</li>
            <li>Indica el estado real:
                <ul>
                    <li><b>Nuevo</b>: nunca utilisado</li>
                    <li><b>Como nuevo</b>: lavado un par de veces</li>
                    <li><b>Primera mano</b>: utilizado un año entero</li>
                    <li><b>Segunda mano</b>: utilizado dos años enteros, o prenda de otro niño antes del tuyo</li>
                </ul>
            </li>
            <li>Sé sincero: si hay alguna marca o desperfecto, dilo (Ejemplo : nombres bordados en los babis). Eso
                genera confianza y evita malentendidos.</li>
            <li>Cuida la presentación: escribe de forma ordenada, sin faltas, y usa un tono amable.</li>
        </ul>
        </p>

        <h3>¿Y si quiero fijar un precio?</h3>

        <p>

            Fijar un precio para ropa de segunda mano no es una obligación. En caso de proponer prendas que están en perfecto estado 
            se puede poner un precio adecuado. Recordemos que en MiMercado se trata de dar segundas
            oportunidades,
            ahorrar recursos económicos y medioambientales… y ayudar a que más personas encuentren lo que necesitan:

        <ul>
            <li>Como vendedor, ofrecer un precio razonable demuestra que valoras la prenda, pero también eres consciente
                de su uso previo. Te responzabiliza, y es una forma de ser honesto y de facilitar el proceso.</li>
            <li>Como comprador, encontrar precios sensatos genera confianza y fomenta la compra responsable. No hace
                falta adquirir artículos si no les necesitas de verdad.</li>
            <li>Entre ambas partes, un precio justo crea una relación de respeto y transparencia. Eso es lo que
                convierte una venta puntual en una experiencia positiva para todos.</li>
        </ul>

        </p>

        <p>
            Proponemos una pequeña guía indicativa:

        <ul>
            <li>Para ropa nueva, se suele ofrecer a la mitad del precio en tienda, 8, 10 o 15 euros según la prenda.</li>
            <li>Para ropa casi nueva o de primera mano, 5 euros por artículo es algo fácil de recordar y de manejar.</li>
            <li>Para lotes, propones precios fácil de memorizar (20, 40 euros), con descuentos substanciales basándote en el precio de la primaera mano.</li>
        </ul>
        </p>
    </section>

    <!-- 4. Contacto y Compartir -->
    <section class="mb-4">
        <h2  id="contacto">Contacto</h2>
        <p>
            ¿Tienes dudas, problemas o sugerencias? 
            Esta plataforma puede crecer con tus ideas.
            ¡Contáctanos!
        </p>
        {% include 'core/bloc_messages.html' %}
        <form method="post" action="{% url 'footer_detail' %}" class="mt-3">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_email" class="form-label">Tu correo electrónico</label>
            <p>{{ form_contacto.email }}</p>
        </div>
        <div> {{ form_contacto.tema }} </div>
        <div class="mb-3">
            <label for="id_mensaje" class="form-label">Mensaje</label>
            <p>{{ form_contacto.mensaje }}</p>
        </div>
        <button type="submit" class="btn btn-primary">Enviar mensaje</button>
    </form>
    </section>
</div>


{% endblock %}