# Environnement virtuel
venv_Dj_Proyecto_Final/
# Environnement
.env
# Fichiers d'exécution
__pycache__
*.pyc
# Tests et logs
*.log
# Database
db.sqlite3
# Media
mercadocentral/media/anuncios/
mercadocentral/static

