{% extends "core/layout.html" %}

{% block titulo %}Detalle del producto{% endblock %}

{% block navbar %}
    {% include 'core/navbar.html' %}
{% endblock %}

{% block contenido %}

<div class="card border-primary mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ anuncio.foto }}" class="img-fluid rounded-start" alt="{{ anuncio.designacion }}">
        </div>
        <div class="col-md-8">
            <h5 class="card-title">{{ anuncio.designacion }}</h5>
            <div class="card-body">
                <p class="card-text">
                    <span class="badge text-bg-danger">{{ anuncio.get_prenda_display }}</span>
                    <span class="badge text-bg-warning">{{ anuncio.get_estado_display }}</span>
                    <span class="badge text-bg-success">{{ anuncio.get_genero_display }}</span>
                </p>
                <p class="card-text">{{ anuncio.descripcion|linebreaksbr|safe }}</p>
                <a href="#" class="btn btn-outline-secondary btn-block btn-sm">Reservar</a>
                <a href="{% url 'core_home' %}" class="btn btn-outline-primary btn-block btn-sm">Volver</a>
            </div>

            <div class="card-footer">
                <small class="text-primary">Anuncio creado el {{ anuncio.created|date:"d F Y" }}</small>
            </div>

        </div>
    </div>
</div>
{% endblock %}