{% extends 'core/layout.html' %}
{% load static %}

{% block titulo %} Listado de prendas {% endblock %}

{% block navbar %}
    {% include 'core/navbar.html' %}
{% endblock %}

{% block contenido %}
    <div class="row">
        {% for anuncio in anuncio_list %}
        <div class="col-xl-3 col-md-4 col-sm-6 mt-2 mb-3 ">
            <div class="card border-primary h-100 animated fadeIn">
                {% if anuncio.foto %}
                    <img src="{{ anuncio.foto.url }}" class="card-img-top" alt="{{ anuncio.designacion }}">
                {% else %}
                    <img src="{% static 'core/foto_prenda_default.jpg' %}" class="card-img-top" alt="{{ anuncio.designacion }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-primary">{{ anuncio.designacion }}</h5>


                    <p class="card-text">
                        <span class="badge text-bg-primary">{{ anuncio.get_prenda_display }}</span>
                        <span class="badge text-bg-primary">{{ anuncio.get_genero_display }}</span>
                        <span class="badge text-bg-primary">{{ anuncio.talla }}</span>
                    </p>
                    <p class="card-text">
                        <span class="badge text-bg-warning">{{ anuncio.get_estado_display }}</span>
                    </p>


                    <p class="card-text">{{ anuncio.descripcion|linebreaksbr|safe|truncatewords:9 }}</p>

                    <p class="card-text">
                        {% if anuncio.mensajes == 0 %}
                        <h6> No hay mensajes.</h6>
                        {% elif anuncio.mensajes == 1 %}
                        <h6><span class="badge text-bg-warning">{{ anuncio.mensajes }}</span> Mensaje</h6>
                        {% else %}
                        <h6><span class="badge text-bg-warning">{{ anuncio.mensajes }}</span> Mensajes</h6>
                        {% endif %}
                    </p>

                
                    {% if origen == "favs" %}
                    <a href="{% url 'core_anuncio' anuncio.id anuncio.designacion|slugify %}?origen=favs" class="btn btn-outline-primary btn-block btn-sm">Detalle...</a>
                    {% elif origen == "mis" %}
                    <a href="{% url 'core_anuncio' anuncio.id anuncio.designacion|slugify %}?origen=mis" class="btn btn-outline-primary btn-block btn-sm">Detalle...</a>
                    {% else %}
                    <a href="{% url 'core_anuncio' anuncio.id anuncio.designacion|slugify %}?origen=global" class="btn btn-outline-primary btn-block btn-sm">Detalle...</a>
                    {% endif %}
 
                    
                    
                </div>
                <div class="card-footer">
                    <small class="text-primary">Creado el {{ anuncio.created|date:"d F Y" }}</small>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
