{% extends 'core/layout.html' %}
{% load static %}

{% block titulo %} Listado de prendas {% endblock %}

{% block navbar %}
    {% include 'core/navbar.html' %}
{% endblock %}

{% block contenido %}
    <div class="row">
        {% for anuncio in anuncio_list %}
        <div class="col-xl-3 col-md-4 col-sm-6 mt-2 mb-3 ">
            <div class="card border-primary h-100 animated fadeIn">
                {% if anuncio.foto %}
                    <img src="{{ anuncio.foto.url }}" class="card-img-top" alt="{{ anuncio.designacion }}">
                {% else %}
                    <img src="{% static 'core/foto_prenda_default.jpg' %}" class="card-img-top" alt="{{ anuncio.designacion }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-primary">{{ anuncio.designacion }}</h5>


                    <p class="card-text">
                        <span class="badge text-bg-primary">{{ anuncio.get_prenda_display }}</span>
                        <span class="badge text-bg-primary">{{ anuncio.get_talla_display }}</span>
                        {% if anuncio.materia %}
                        <span class="badge text-bg-success">{{ anuncio.get_materia_display }}</span>
                        {% endif %}
                        {% if anuncio.estado %}
                        <span class="badge text-bg-warning">{{ anuncio.get_estado_display }}</span>
                        {% endif %}
                    </p>

                    <p class="card-text">{{ anuncio.descripcion|linebreaksbr|safe|truncatewords:4 }}</p>

                    <p class="card-text">
                        {% if anuncio.mensajes == 0 %}
                        <h6> No hay mensajes.</h6>
                        {% elif anuncio.mensajes == 1 %}
                        <h6><span class="badge text-bg-warning">{{ anuncio.mensajes }}</span> Mensaje</h6>
                        {% else %}
                        <h6><span class="badge text-bg-warning">{{ anuncio.mensajes }}</span> Mensajes</h6>
                        {% endif %}
                    </p>

                
                    {% if origen == "favs" %}
                    <a href="{% url 'core_anuncio' anuncio.id anuncio.designacion|slugify %}?origen=favs" class="btn btn-outline-primary btn-block btn-sm">Detalle...</a>
                    {% elif origen == "mis" %}
                    <a href="{% url 'core_anuncio' anuncio.id anuncio.designacion|slugify %}?origen=mis" class="btn btn-outline-primary btn-block btn-sm">Detalle...</a>
                    {% else %}
                    <a href="{% url 'core_anuncio' anuncio.id anuncio.designacion|slugify %}?origen=global" class="btn btn-outline-primary btn-block btn-sm">Detalle...</a>
                    {% endif %}
 
                    
                    
                </div>
                <div class="card-footer">
                    <small class="text-primary">Creado el {{ anuncio.created|date:"d F Y" }}</small>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Menú de paginación -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">&laquo;</a>
        </li>
        {% endif %}
        {% for i in paginator.page_range %}
        <li class="page-item {% if page_obj.number == i %}active{% endif %}">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">&raquo;</a>
        </li>
        {% endif %}
        </ul>
    </nav>
    {% endif %}    
{% endblock %}
