{% extends "core/layout.html" %}
{% load static %}

{% block titulo %}Detalle del producto{% endblock %}

{% block navbar %}
{% include 'core/navbar.html' %}
{% endblock %}

{% block contenido %}

<div class="card border-primary mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            {% if anuncio.foto %}
                <img src="{{ anuncio.foto.url }}" class="card-img-top" alt="{{ anuncio.designacion }}">
            {% else %}
                <img src="{% static 'core/foto_prenda_default.jpg' %}" class="card-img-top" alt="{{ anuncio.designacion }}">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h5 class="card-title">{{ anuncio.designacion }}</h5>
            <div class="card-body">
                {% include 'core/bloc_messages.html' %}
                <p class="card-text">
                    <span class="badge text-bg-primary">{{ anuncio.get_prenda_display }}</span>
                    <span class="badge text-bg-primary">{{ anuncio.get_talla_display }}</span>
                </p>
                {% if anuncio.materia %}
                <p class="card-text">
                    <span class="badge text-bg-success">{{ anuncio.get_materia_display }}</span>
                </p>
                {% endif %}
                {% if anuncio.estado %}
                <p class="card-text">
                    <span class="badge text-bg-warning">{{ anuncio.get_estado_display }}</span>
                </p>
                {% endif %}
                <p class="card-text">{{ anuncio.descripcion|linebreaksbr|safe }}</p>
                
                <p class="card-text"> 
                    {% if interesados_usernames|length == 0 %}
                    {% elif interesados_usernames|length == 1 %}
                    <span class="badge text-bg-primary">1</span> Persona interesada
                    {% else %}
                    <span class="badge text-bg-primary">{{ interesados_usernames|length }}</span> Personas interesadas
                    {% endif %}
                    {% if user == anuncio.usuario %}
                        {% for usrname in interesados_usernames %}
                            {% if forloop.last %}
                                {{ usrname }}
                            {% else %}
                                {{ usrname }},
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                </p>


                {% regroup anuncio.mensajes_anuncio.all|dictsort:"created" by author as mensajes_por_autor %}

                {% for grupo in mensajes_por_autor %}
                    {% if grupo.grouper == user or user == anuncio.usuario %}
                    <div class="mb-3">
                        <h6>
                            {% if grupo.grouper == user %}
                            <b>Mis mensajes</b>
                            {% else %}
                            <b>{{ grupo.grouper }} ({{ grupo.grouper.email }})</b>
                            {% endif %}
                        </h6>
                        {% for mensaje in grupo.list %}
                            <div class="alert alert-light col-8" role="alert">
                                <div>
                                    El {{ mensaje.created|date:"d/m/Y" }} a las {{ mensaje.created|date:"H:i" }} :<br>
                                </div>
                                <div class="text-end">
                                    {{ mensaje.texto|linebreaksbr }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% empty %}
                    <h6> No hay mensajes.</h6>
                {% endfor %}

                {% if user != anuncio.usuario %}
                <form action="{% url 'api_reservar' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_pk_anuncio" value="{{ anuncio.pk }}">
                    <div class="row">
                        <div class="col-8 pe-0">
                            <textarea name="form_mensaje" cols="40" rows="3" class="form-control" required="" placeholder="Mi mensaje"></textarea>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-secondary btn-sm m-1" type="submit">
                                Enviar Mensaje <i class="bi bi-arrow-right-circle"></i>
                            </button>
                        </div>
                    </div>
                </form>
                {% endif %}

                {% if origen == "favs" %}
                <a href="{% url 'core_fav' %}" class="btn btn-outline-primary btn-block btn-sm mt-3">Volver</a>
                {% elif origen == "mis" %}
                <a href="{% url 'core_mis' %}" class="btn btn-outline-primary btn-block btn-sm mt-3">Volver</a>
                {% else %}
                <a href="{% url 'core_home' %}" class="btn btn-outline-primary btn-block btn-sm mt-3">Volver</a>
                {% endif %}

                {% if user == anuncio.usuario %}
                <a href="{% url 'core_up_anun' anuncio.id anuncio.designacion|slugify %}" class="btn btn-outline-danger btn-block btn-sm mt-3">Editar...</a>
                {% endif %}
            </div>

            <div class="card-footer">
                <small class="text-primary">Anuncio creado el {{ anuncio.created|date:"d F Y" }}</small>
            </div>

        </div>
    </div>
</div>
{% endblock %}