{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Mercado Central</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="{% static 'core/styles.css' %}" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body class="p-3">
        <div class="alert alert-primary" role="alert">
            <h1>Mercado Central</h1>
            <h2>Una manera economica y ecologica de encontrar ropa escolar</h2>
        </div>

        <h1>{% block title %} Inicio {% endblock %}</h1>
        
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Anuncios</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Prenda
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Todos</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Todos Uniformes</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Pantalón</a></li>
                                <li><a class="dropdown-item" href="#">Suéter</a></li>
                                <li><a class="dropdown-item" href="#">Falda</a></li>
                                <li><a class="dropdown-item" href="#">Polo</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Todos Deportes</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Chandal Completo</a></li>
                                <li><a class="dropdown-item" href="#">Bermuda</a></li>
                                <li><a class="dropdown-item" href="#">Polo</a></li>
                                <li><a class="dropdown-item" href="#">Pantalón</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Niño / Niña
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Todos</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Niño</a></li>
                                <li><a class="dropdown-item" href="#">Niña</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Estado
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Todos</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Nuevo</a></li>
                                <li><a class="dropdown-item" href="#">Como Nuevo</a></li>
                                <li><a class="dropdown-item" href="#">Primera Mano</a></li>
                                <li><a class="dropdown-item" href="#">Secunda Mano</a></li>
                            </ul>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Mis Anuncios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Crear Anuncio</a>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="d-flex navbar-nav mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                        <li>
                            <a class="nav-link">Hola, <strong>{{ user.username }}</strong>. </a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Salir</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Entrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Registrarse</a>
                        </li>
                        {% endif %}
                        
                    </ul>
                </div>
            </div>
        </nav>
        <hr>



        {% block body %}
        {% endblock %}
    </body>
</html>
