{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'core_home' %}">Anuncios</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            {% with current_prenda=request.session.prenda current_talla=request.session.talla %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Tipo Prenda
                        {% if not current_prenda or current_prenda == 'PRD_ALL' %}: No Definido
                        {% elif current_prenda == 'PRD_POL' %}: Polo
                        {% elif current_prenda == 'PRD_JER' %}: Jersey
                        {% elif current_prenda == 'PRD_FAL' %}: Falda
                        {% elif current_prenda == 'PRD_PAN' %}: Pantalón
                        {% elif current_prenda == 'PRD_CHD' %}: Chandal
                        {% elif current_prenda == 'PRD_BER' %}: Bermuda
                        {% elif current_prenda == 'PRD_BAB' %}: Babi
                        {% endif %}

                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="dropdown-item">
                                <a href="{% url 'core_home' %}?prenda=PRD_ALL">
                                    <img class="img-thumbnail border border-2 border-primary-subtle" src="{% static 'core/foto_prenda_default.jpg' %}" title="Multi" alt="Foto por defecto"
                                        style="max-width: 60px; max-height: 60px;">
                                </a>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <div class="dropdown-item">
                                <a href="{% url 'core_home' %}?prenda=PRD_POL">
                                    <img class="img-thumbnail border border-2 border-primary-subtle" src="{% static 'core/mn_polo.png' %}" title="Polo, blanco o rojo" alt="Menu Polo"
                                        style="max-width: 60px; max-height: 60px;">
                                </a>
                                <a href="{% url 'core_home' %}?prenda=PRD_JER">
                                    <img class="img-thumbnail border border-2 border-primary-subtle" src="{% static 'core/mn_jersey.png' %}" title="Jersey" alt="Menu Jersey"
                                        style="max-width: 60px; max-height: 60px;">
                                </a>
                                <a href="{% url 'core_home' %}?prenda=PRD_FAL">
                                    <img class="img-thumbnail border border-2 border-primary-subtle" src="{% static 'core/mn_falda.png' %}" title="Falda" alt="Menu Falda"
                                        style="max-width: 60px; max-height: 60px;">
                                </a>
                                <a href="{% url 'core_home' %}?prenda=PRD_PAN">
                                    <img class="img-thumbnail border border-2 border-primary-subtle" src="{% static 'core/mn_pantalon.png' %}" title="Pantalón, largo o corto" alt="Menu Pantalón"
                                        style="max-width: 60px; max-height: 60px;">
                                </a>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <div class="dropdown-item">
                                <a  href="{% url 'core_home' %}?prenda=PRD_CHD">
                                    <img class="img-thumbnail border border-2 border-primary-subtle" src="{% static 'core/mn_chandal.png' %}" title="Chandál" alt="Menu Chandál"
                                    style="max-width: 60px; max-height: 60px;">
                                </a>
                                <a  href="{% url 'core_home' %}?prenda=PRD_BER">
                                    <img class="img-thumbnail border border-2 border-primary-subtle" src="{% static 'core/mn_bermuda.png' %}" title="Bermuda" alt="Menu Bermuda"
                                    style="max-width: 60px; max-height: 60px;">
                                </a>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <div class="dropdown-item">

                                <a href="{% url 'core_home' %}?prenda=PRD_BAB">
                                    <img class="img-thumbnail border border-2 border-primary-subtle" src="{% static 'core/mn_babi.png' %}" title="Babi" alt="Menu Babi"
                                    style="max-width: 60px; max-height: 60px;">
                                </a>
                            </div>
                        </li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Talla
                    {% if not current_talla or current_talla == 'TAL_ALL' %}: No definida
                    {% elif current_talla == '74' %}: 00
                    {% elif current_talla == '78' %}: 0
                    {% elif current_talla == '82' %}: 1
                    {% elif current_talla == '98' %}: 2
                    {% elif current_talla == '108' %}: 4
                    {% elif current_talla == '118' %}: 6
                    {% elif current_talla == '128' %}: 8
                    {% elif current_talla == '140' %}: 10
                    {% elif current_talla == '152' %}: 12
                    {% elif current_talla == '164' %}: 14
                    {% elif current_talla == '170' %}: 16 / S / 2A
                    {% elif current_talla == '178' %}: 18 / M / 3A
                    {% elif current_talla == '184' %}: 20 / L / 4A
                    {% elif current_talla == '188' %}: 22 / XL / 5A
                    {% elif current_talla == '192' %}: 24 / XXL / 6A
                    {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?talla=TAL_ALL">Todas</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?talla=74">00</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?talla=78">0</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?talla=82">1</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?talla=98">2</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?talla=108">4</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?talla=118">6</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?talla=128">8</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?talla=140">10</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?talla=152">12</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?talla=164">14</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?talla=170">16 / S / 2A</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?talla=178">18 / M / 3A</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?talla=184">20 / L / 4A</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?talla=188">22 / XL / 5A</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?talla=192">24 / XXL / 6A</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core_home' %}?talla=TAL_ALL&prenda=PRD_ALL"><i
                        class="bi bi-x-square-fill text-danger"></i> Resetar</a>
                </li>

                    <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Estado
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Todos</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Nuevo</a></li>
                        <li><a class="dropdown-item" href="#">Como Nuevo</a></li>
                        <li><a class="dropdown-item" href="#">Primera Mano</a></li>
                        <li><a class="dropdown-item" href="#">Secunda Mano</a></li>
                    </ul>
                </li>
-->
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core_mis' %}">Mis Anuncios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core_fav' %}">Favoritos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core_nv_anun' %}">Crear Anuncio</a>
                </li>
                {% endif %}
            </ul>
            {% endwith %}
            <ul class="d-flex navbar-nav mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li>
                    <a class="nav-link">Hola, <strong>{{ user.username }}</strong>. </a>
                </li>
                <li>
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <!-- <button type="submit"><i class="bi bi-box-arrow-right"></i> Salir</button> -->
                        <a href="#" class="nav-link"
                            onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                            Salir <i class="bi bi-box-arrow-right text-danger bold"></i>
                        </a>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usu_login' %}"><i class="bi bi-box-arrow-in-right"></i> Entrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usu_alta' %}"><i class="bi bi-clipboard-plus"></i> Registrarse</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>