<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'core_home' %}">Anuncios</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% with current_prenda=request.session.prenda current_genero=request.session.genero %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Prenda
                        {% if not current_prenda or current_prenda == 'PRD_ALL' %}: Todas
                        {% elif current_prenda == 'PRD_UN' %}: Todos Uniformes
                        {% elif current_prenda == 'PRD_UN_PAN' %}: Pantalón Uniforme
                        {% elif current_prenda == 'PRD_UN_SUE' %}: Suéter Uniforme
                        {% elif current_prenda == 'PRD_UN_FAL' %}: Falda Uniforme
                        {% elif current_prenda == 'PRD_UN_POL' %}: Polo Uniforme
                        {% elif current_prenda == 'PRD_DP' %}: Todos Deportes
                        {% elif current_prenda == 'PRD_DP_PAN' %}: Pantalón Deportes
                        {% elif current_prenda == 'PRD_DP_BER' %}: Bermuda Deportes
                        {% elif current_prenda == 'PRD_DP_POL' %}: Polo Deportes
                        {% elif current_prenda == 'PRD_DP_CHQ' %}: Chaqueta Deportes
                        {% elif current_prenda == 'PRD_DP_CHD' %}: Chandal completo Deportes
                        {% endif %}

                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?prenda=PRD_ALL">Todos</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?prenda=PRD_UN">Todos Uniformes</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?prenda=PRD_UN_PAN">Pantalón</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?prenda=PRD_UN_SUE">Suéter</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?prenda=PRD_UN_FAL">Falda</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?prenda=PRD_UN_POL">Polo</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?prenda=PRD_DP">Todos Deportes</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?prenda=PRD_DP_PAN">Pantalón</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?prenda=PRD_DP_BER">Bermuda</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?prenda=PRD_DP_POL">Polo</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?prenda=PRD_DP_CHQ">Chaqueta</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?prenda=PRD_DP_CHD">Chandal Completo</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Niño / Niña
                        {% if not current_genero or current_genero == 'GEN_ALL' %}: Todos
                        {% elif current_genero == 'GEN_MX' %}: Mixto
                        {% elif current_genero == 'GEN_NO' %}: Niños
                        {% elif current_genero == 'GEN_NA' %}: Niñas
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?genero=GEN_ALL">Todos</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?genero=GEN_MX">Mixto</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?genero=GEN_NO">Niño</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_home' %}?genero=GEN_NA">Niña</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core_home' %}?genero=GEN_ALL&prenda=PRD_ALL"><i
                            class="bi bi-x-square-fill text-danger"></i> Resetar</a>
                </li>

                <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Estado
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Todos</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Nuevo</a></li>
                        <li><a class="dropdown-item" href="#">Como Nuevo</a></li>
                        <li><a class="dropdown-item" href="#">Primera Mano</a></li>
                        <li><a class="dropdown-item" href="#">Secunda Mano</a></li>
                    </ul>
                </li>
-->
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core_mis' %}">Mis Anuncios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core_fav' %}">Favoritos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core_nv_anun' %}">Crear Anuncio</a>
                </li>
                {% endif %}
            </ul>
            {% endwith %}
            <ul class="d-flex navbar-nav mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li>
                    <a class="nav-link">Hola, <strong>{{ user.username }}</strong>. </a>
                </li>
                <li>
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <!-- <button type="submit"><i class="bi bi-box-arrow-right"></i> Salir</button> -->
                        <a href="#" class="nav-link"
                            onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                            Salir <i class="bi bi-box-arrow-right text-danger bold"></i>
                        </a>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usu_login' %}"><i class="bi bi-box-arrow-in-right"></i> Entrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usu_alta' %}"><i class="bi bi-clipboard-plus"></i> Registrarse</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>