<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'core_home' %}">Anuncios</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Prenda
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Todos</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Todos Uniformes</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Pantalón</a></li>
                        <li><a class="dropdown-item" href="#">Suéter</a></li>
                        <li><a class="dropdown-item" href="#">Falda</a></li>
                        <li><a class="dropdown-item" href="#">Polo</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Todos Deportes</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Chandal Completo</a></li>
                        <li><a class="dropdown-item" href="#">Bermuda</a></li>
                        <li><a class="dropdown-item" href="#">Polo</a></li>
                        <li><a class="dropdown-item" href="#">Pantalón</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Niño / Niña
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Todos</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Niño</a></li>
                        <li><a class="dropdown-item" href="#">Niña</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Estado
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Todos</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Nuevo</a></li>
                        <li><a class="dropdown-item" href="#">Como Nuevo</a></li>
                        <li><a class="dropdown-item" href="#">Primera Mano</a></li>
                        <li><a class="dropdown-item" href="#">Secunda Mano</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Mis Anuncios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Crear Anuncio</a>
                </li>
                {% endif %}
            </ul>
            <ul class="d-flex navbar-nav mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li>
                    <a class="nav-link">Hola, <strong>{{ user.username }}</strong>. </a>
                </li>
                <li>
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit"><i class="bi bi-box-arrow-right"></i> Salir</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usu_login' %}"><i class="bi bi-box-arrow-in-right"></i> Entrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usu_alta' %}"><i class="bi bi-clipboard-plus"></i> Registrarse</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>